/**
 * Frontline Business Solutions, Inc.
 * Author : FBS Team
 * ===================================================================
 * Table of Contents
 *
 * 1.0 - Resets
 * 2.0 - Repeatable Patterns
 * 3.0 - Structure / Grid / Column
 * 4.0 - Header
 * 5.0 - Main Content
 * 6.0 - Landing Page
        * 6.1 - Landing Page - Sign Up / Forgot Account
 * 7.0 - Admin Dashboard
 * 8.0 - Admin Leave Dashboard
 * 9.0 - Admin Employee (List of Employees)
        * 9.1 - Add New Employees
        * 9.2 - Edit / View Employees
 * 10.0 - Admin Task Manager 
 * 11.0 - Admin Settings (Add Leave)
 * 12.0 - Admin User Settings / Employee User Settings
        * 12.1 - Admin Add New User / Edit User / View User
 * 13.0 - Employee Dashboard
 * 14.0 - Employee Leave Dashboard
 * 15.0 - Employee Task Manager
 * 15.0 - Employee Overtime
 * 16.0 - Modal
 * 0.0 - Clearing
 * 0.0 - Mobile CSS / Media Queries
 * 
 */
/* =================================================================== 
 * 1.0 :: Resets
 * ===================================================================
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #2b2b2b;
  font: 16px/24px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow-x: auto;
}

.overflow-x {
  overflow-x: auto;
}

td,
th {
  border: 1px solid #ddd;
  padding: 6px 15px;
  text-align: center;
}

th {
  font-weight: bold;
  background: #eef1f7;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
nav,
section,
time {
  display: block;
}

/* =================================================================== 
     * 2.0 :: Repeatable Patterns
     * ===================================================================
     */

/* Links */

:focus {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Formating */
b,
strong {
  font-weight: bold !important;
}

em {
  font-style: italic !important;
}

small {
  font-size: 75% !important;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: normal;
}

h1 {
  font-size: 25px;
  line-height: 35px;
}

h2 {
  font-size: 20px;
  line-height: 30px;
}

h3 {
  font-size: 18px;
  line-height: 25px;
}

h4 {
  font-size: 14px;
  margin-bottom: 0;
}

h5 {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
}

h6 {
  font-size: 9px;
  line-height: 15px;
  margin-bottom: 0;
}

p {
  margin-bottom: 10px;
}

.color--green {
  color: #008000 !important;
}

.color--red {
  color: #b9121b !important;
}

.color--blue {
  color: #2a276b !important;
}

.color--gold {
  color: #a67a41 !important;
}

.color--black {
  color: #2b2b2b !important;
}

.color--white {
  color: #fff !important;
}

.color--magenta {
  color: #6a103f !important;
}

.color--darkgray {
  color: #3a3b36 !important;
}

.color--purple {
  color: #b2226f;
}
/* Alignment */

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.t-center {
  text-align: center !important;
}

.t-left {
  text-align: left !important;
}

.t-right {
  text-align: right !important;
}

.t-justify {
  text-align: justify !important;
}

/* Images */

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

img.alignleft {
  float: left;
  margin: 0 12px 12px 0;
}

img.alignright {
  float: right;
  margin: 0 0 12px 12px;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

img.img-absolute {
  position: absolute;
}

img.clients-logo {
  margin: 25px;
  width: 150px;
}

/* UL, OL */

.list-text {
  margin: 0 20px 20px;
  list-style-type: none;
  text-align: center;
}

/* Margin */

.mt--20 {
  margin-top: 20px !important;
}

.mb--10 {
  margin-bottom: 10px !important;
}

.mb--20 {
  margin-bottom: 20px !important;
}

.mb--30 {
  margin-bottom: 30px !important;
}

.mb--40 {
  margin-bottom: 40px !important;
}

.mb--50 {
  margin-bottom: 50px !important;
}

.mb--60 {
  margin-bottom: 60px !important;
}

.nm {
  margin: 0 !important;
}

.no-pd {
  padding: 0 !important;
}

.pd--20 {
  padding: 20px !important;
}

.no-borderbot {
  border-bottom: 0 !important;
}

button,
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='date'] {
  border: 0;
  cursor: pointer;
  display: inline-block;
}

input[disabled] {
  cursor: default;
}

input[type='checkbox']:focus,
input[type='radio']:focus,
input[type='file']:focus,
input[type='hidden']:focus {
  border: none;
  outline: 0;
}

input[type='checkbox'],
input[type='radio'],
input[type='file'],
input[type='hidden'],
input[type='image'],
input[type='color'] {
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

button,
input,
textarea {
  font-family: inherit;
}

button,
input {
  line-height: normal;
}

textarea {
  font-size: 100%;
  overflow: auto;
  vertical-align: top;
}

input[type='number'],
input[type='password'],
input[type='text'],
input[type='date'],
input[type='email'],
input[type='phone'],
select,
textarea {
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: 38px;
  padding: 6px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #54667a;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: none;
  width: 100%;
  margin-bottom: 10px;
}

input[type='password']:focus,
input[type='text']:focus,
textarea:focus {
  -webkit-box-shadow: inset 0 1px 5px #d6d6d6 !important;
  -moz-box-shadow: inset 0 1px 5px #d6d6d6 !important;
  box-shadow: inset 0 1px 5px #d6d6d6 !important;
}

form textarea {
  height: 100px;
}

.btn-blue,
.btn-purple {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.btn-purple {
  background: #da28b5;
}

.btn-purple:hover {
  background: #6a104f;
}

.btn-clear {
  color: #2a2a2a;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #2a2a2a;
}

.btn-clear:hover {
  background-color: #6a104f;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

.border-bottom-thick {
  border-bottom: 3px solid #ddd;
  margin: 20px 0;
}

.no-border {
  border: none !important;
}

.box-shadow {
  box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.3);
}

.user-active {
  height: 15px;
  width: 15px;
  background: #55ce63;
  border-radius: 50%;
  border: 1px solid #fff;
}

.center-vertical {
  vertical-align: middle;
}

.p-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.box-title-head {
  text-align: center;
  padding: 10px;
  background: #eef1f7;
  margin-top: 0 !important;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.box-title-head p {
  margin: 0 auto;
}

.action i {
  margin: 0 5px;
}

.form-control {
  border: none !important;
  border-bottom: 1px solid #ddd !important;
}

.form-control:focus {
  background-image: linear-gradient(
      0deg,
      var(--primary-color) 2px,
      rgba(156, 39, 176, 0) 0
    ),
    linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
  border: none !important;
}

.label {
  color: #000;
  padding: 1px 3px;
  margin: 0 !important;
}
.approved {
  background-color: rgb(149, 238, 152);
} /* Green */
.pending {
  background-color: rgba(255, 152, 0, 0.5);
} /* Orange */
.declined {
  background-color: #fa7d74;
} /* Red */

.err-border-red {
  border: 1px solid red !important;
  margin-bottom: 0 !important;
}

.alert-msg {
  font-size: 14px;
  color: rgb(255, 0, 0);
  /* display: none; */
}

.err-display {
  display: block !important;
}

.absolute {
  position: absolute !important;
}

.bold {
  font-weight: bold !important;
}

/* ===================================================================
     * 3.0 :: Structure / Grid/ Column
     * ===================================================================
     */

/* Uncomment and set these variables to customize the grid. */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: ' ';
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* =================================================================== 
     * 4.0 :: Header
     * ===================================================================
     */

header {
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.3);
}

header .logo {
  float: left;
  z-index: 1;
  padding: 10px;
  font-weight: 700;
}

header .user {
  color: #000;
  float: right;
  z-index: 1;
  padding: 10px;
  font-weight: 700;
}

header .user ul {
  list-style-type: none;
}

header .user ul li {
  height: 44px;
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
}

header .user .fas {
  font-size: 22px;
  margin: 0 10px;
  cursor: pointer;
}

header .user .fa-user-cog,
header .user .fa-sign-out-alt {
  position: relative;
}

header .user .fa-user-cog:after,
header .user .fa-sign-out-alt:after {
  position: absolute;
  left: -50px;
  top: 42px;
  content: attr(data-text);
  opacity: 0;
  display: none;
  color: #fff;
  font-family: 'Open Sans';
  background: #54667a;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  white-space: nowrap;
  transition: all;
}

header .user .fa-user-cog:hover:after,
header .user .fa-sign-out-alt:hover:after {
  opacity: 0.9;
  display: inline-block;
}

/* ---------Employee Header--------- */

.user-dp {
  margin: 5px;
}

.user-dp img {
  object-fit: cover;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.welcome-name {
  font-size: 22px;
}

.user-info {
  margin-bottom: 15px;
}

.user-info ul li {
  list-style-type: none;
  display: inline-block;
}

.user-info .department {
  color: #0868b2;
  background: #a6d9ff;
  font-size: 10px;
  font-weight: bold;
  padding: 0 10px;
}

.user-info .fas {
  margin: 10px;
  font-size: 22px;
  padding-top: 15px;
}

/* ---------Side Nav--------- */

.side-nav .logo {
  color: #fff;
  display: inline-flex;
  align-items: center;
  width: 100%;
  background: #fff;
}

.logo {
  height: 70px;
  padding: 10px;
  font-weight: 700;
  text-align: left;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.logo span {
  margin-left: 5px;
  text-transform: uppercase;
}

.nav-trigger {
  float: right;
  width: 20px;
  height: 44px;
  right: 30px;
  display: block;
}
.nav-trigger span,
.nav-trigger span:before,
span:after {
  width: 20px;
  height: 2px;
  background-color: #35475e;
  position: absolute;
}
.nav-trigger span {
  top: 50%;
}
.nav-trigger span:before,
.nav-trigger span:after {
  content: '';
}
.nav-trigger span:before {
  top: -6px;
}
.nav-trigger span:after {
  top: 6px;
}

.side-nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #34444c;
  z-index: 1;
  display: none;
}
.side-nav.visible {
  display: block;
}
.side-nav ul {
  margin: 0;
  padding: 0;
}
.side-nav ul li {
  border-bottom: 1px solid rgb(125, 121, 121);
  position: relative;
}
.side-nav ul li:hover {
  background: #da28b5;
}
.side-nav ul li.active {
  background: rgb(218, 40, 181);
}
.side-nav ul li.active:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}
.side-nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 16px 16px;
}
.side-nav ul li i {
  color: #fff;
  min-width: 20px;
  text-align: center;
}
.side-nav ul li span:nth-child(2) {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

.side-nav hr {
  margin: 0 10px;
}

/* =================================================================== 
     * 5.0 :: Main Content
     * ===================================================================
     */

.main-content {
  margin-top: 0;
  padding: 0;
  padding-top: 100px;
  height: 100vh;
  position: relative;
  font-size: 14px;
}
.main-content .content-block {
  margin: 40px;
  padding: 25px;
  background-color: #fff;
  border-radius: 0.25em;
  /* min-height: 80vh; */
}

.main-content .title {
  background-color: #eef1f7;
  border-bottom: 1px solid #b8bec9;
  padding: 10px 20px;
  font-weight: 700;
  color: #333;
  font-size: 18px;
}

.main-content .title span {
  display: inline-block;
  height: 38px;
  padding: 6px 15px;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.disable {
  background-color: #adadad;
  cursor: default;
}
.disable:hover {
  background-color: #adadad;
}

.required {
  color: #ff0000;
}

/* ===================================================================
     * 6.0 :: Landing Page
     * ===================================================================
     */
.login {
  height: 100vh;
}
/* Left Section */
.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-content {
  width: 100%;
}

.fbs-logo {
  text-align: center;
}

.fbs-logo img {
  width: 200px;
  margin-bottom: 5px;
}

.forget-account {
  font-size: 18px;
}

form.index-login {
  max-width: 400px;
  margin: 0 auto;
}

.left-content form label {
  font-size: 14px;
}

.left-content form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

.sign-up-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-btn {
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
}

.sign-up-box p {
  font-size: 18px;
  color: #444;
}

.flex-50 {
  flex: 49%;
}

.forget-account,
.sign-up-box {
  color: #b2226f;
  font-size: 14px;
}

.no-account p {
  font-size: 14px !important;
}

.no-account a {
  color: #b2226f;
}

.sign-up {
  color: #b2226f;
}

.forget-account:hover,
.sign-up-box .sign-up:hover {
  color: #6a104f;
}

.error-message {
  /* display: none; */
  max-width: 400px;
  margin: 0 auto;
  font-size: 14px;
}

.warning {
  display: flex;
  background: #dd3c10;
  align-items: center;
  border: 1px solid #dd3c10;
}

.warning-text {
  background: #ffebe8;
  padding: 10px;
  width: 100%;
}

.warning i {
  padding: 0 20px;
  font-size: 30px;
  color: #fff;
}

/* Left Section End */

/* Right Section */
.right-section {
  position: fixed;
  width: 100vw;
}

.right-section-content {
  background-color: #da28b5;
  background-image: linear-gradient(to right, #da28b5, #6d145b);
  height: 100vh;
  width: 100%;
}

/* Right Section End */

/* Admin Landing Page */

.right-section-content h2 {
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.right-section-content p {
  color: #fff;
}

.announcement {
  position: absolute;
  /* top: 20%;
    left: 10%; */
}

.announcement-slider {
  position: relative;
  /* border: 3px solid #fff; */
}

.slideshow-container {
  position: relative;
}

.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  max-width: 1000px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
  background-color: #6d145b;
}

/* ===================================================================
     * 6.1 :: Landing Page - SIGN UP / FORGOT ACCOUNT / VERIFY /  THANK YOU
     * ===================================================================
     */

.gray-bg {
  background: #e6e6e6;
}

.forgot-form h3,
.sign-up-form h3 {
  text-align: center;
  font-size: 24px;
}

/* .forgot-form form input,
.sign-up-form form input {
  margin: 5px 0;
} */

.forgot-instruct {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.notification-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notification-box {
  width: 500px;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
}

.notification-box-content {
  padding: 20px;
}

.notification-box-content h2 {
  font-size: 30px;
  font-weight: bold;
  color: #922b68;
}

.notification-box-content h3 {
  font-size: 20px;
}

.notification-box-content img {
  width: 40%;
}

.noti-footer-img img {
  width: 100%;
  object-fit: cover;
  margin-bottom: -6px;
}

.verify-check img {
  width: 200px;
  height: 200px;
}

.verify-check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.noti-link {
  font-size: 16px;
  color: #b2226f;
}

/* --Page Not Found-- */

.error-404 {
  font-size: 70px !important;
}

.error-404-btn a {
  margin: 0 10px;
}

.error-404-btn a:first-child {
  background: #b2226f;
}

.error-404-btn a:first-child:hover {
  background: #6d145b;
}

/* =================================================================== 
     * 7.0 :: ADMIN DASHBOARD
     * ===================================================================
     */

h3.welcome-title {
  font-weight: normal;
  margin-bottom: 15px !important;
  font-size: 30px;
}

.welcome-sub {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.admin-db-box {
  padding-top: 15px;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}

.project-stat-box ul li,
.client-stat-box ul li,
.admin-task-stat-box ul li,
.admin-employee-stat-box ul li {
  list-style-type: none;
  font-weight: 600;
}

.admin-db-box i {
  font-size: 40px;
}

.admin-db-box ul li:first-child {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 30px;
}

.admin-db-box ul li:nth-child(2) {
  background: #b8bec9;
  color: #2a2a2a;
  padding: 10px;
}

.statistics-box {
  padding: 20px;
}

.stat-title p {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.sub-stat-title p {
  font-size: 14px;
  color: #888;
}

.holiday-title {
  padding: 0 10px;
}

.holiday-image img {
  width: 100%;
  object-fit: cover;
  height: 130px;
  margin-bottom: -10px;
}

.employee-chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  width: 100%;
  margin: 5px;
}

.employee-chip p {
  font-weight: bold;
}

.employee-chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.box-title {
  display: flex;
  justify-content: space-between;
}

.box-title p {
  margin-bottom: 10px !important;
}

.progress-bar-box {
  padding: 10px;
  margin-bottom: 10px;
}

.stat-progress-bar {
  background: #ddd;
  width: 100%;
  border-radius: 16px;
}

.progress-bar-leave {
  background: rgb(255, 188, 52);
  width: 20%;
  padding: 5px;
  border-radius: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.progress-bar-projects {
  background: #55ce63;
  width: 83%;
  padding: 5px;
  border-radius: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.absent-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.absent-name img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.absent-name p {
  margin-left: 10px;
  margin-bottom: 0 !important;
  font-weight: 600;
}

.absent-stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absent-date {
  align-self: center;
}

.absent-date p {
  font-size: 14px;
  margin: 0 !important;
  font-weight: 600;
  color: rgb(154, 153, 153);
}

.absent-status-approved,
.absent-status-pending {
  align-self: flex-end;
}

.absent-status-approved p {
  color: #55ce63;
  background: #d9fedd;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 10px;
  margin-bottom: 0 !important;
}

.absent-status-pending p {
  color: rgb(218, 40, 181);
  background: rgb(218, 40, 181, 0.3);
  font-size: 12px;
  font-weight: bold;
  padding: 3px 10px;
  margin-bottom: 0 !important;
}

.absent-button {
  text-align: center;
}

.absent-btn {
  float: none;
  margin: 0;
  padding: 10px 20px;
}

.admin-task-stats {
  padding: 5px;
  text-align: center;
}

.total-task,
.overdue-task {
  padding: 10px;
  margin: 5px;
}

.number {
  font-size: 24px;
  font-weight: bold;
}

.task-statistics-tally {
  padding: 20px;
}

.task-statistics-tally ul li {
  list-style-type: none;
  margin: 10px;
}

span.circle {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid grey;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

.task-statistics-tally span:last-child {
  float: right;
}

/* =================================================================== 
     * 8.0 :: Admin Leave Dashboard
     * ===================================================================
     */

.content-wrap {
  margin: 20px 100px;
}

.content-wrap h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.leave-sum-content {
  width: 100%;
  margin-bottom: 20px;
}

.leave-summary {
  margin-top: 30px;
}

.leave-filter {
  display: flex;
  padding: 20px;
  border: 1px solid #ddd;
}

.leave-filter-box p {
  font-size: 16px;
}

.leave-filter-box {
  margin-right: 20px;
  width: 100%;
  flex: 1;
}

.leave-filter-box form input[type='date'] {
  width: 100%;
  margin-bottom: 10px;
}

.leave-filter-box form input {
  margin: 0;
  font-size: 16px;
  padding: 6px;
}

.input-res {
  width: 100%;
  box-sizing: border-box;
}

.filter-select {
  margin-bottom: 10px;
  margin-top: 0 !important;
  width: 100%;
}

.filter-select select {
  width: 100%;
  min-width: 200px;
}

.filter-button {
  align-self: center;
  margin-top: 10px;
}

.filter-btn {
  float: right;
  min-width: 200px;
  margin-right: 20px;
  margin-top: 0;
}

.leave-status ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #444;
  max-width: 150px;
  width: 100%;
  margin: 10px;
}

.leave-status ul li p:last-child {
  font-size: 24px;
  color: #000;
}

/* =================================================================== 
     * 9.0:: Admin Employee (List of Employees)
     * ===================================================================
     */

.employee-search-box {
  padding: 15px;
  border: 0.5px solid #ddd;
}

.search-employee button {
  background: #da28b5;
  padding: 6px 5px;
  color: #fff;
  font-size: 18px;
  border-radius: 0.25rem;
  width: 100%;
}

.add-employee-btn a {
  padding: 10px;
  margin-top: 10px;
  display: block;
}

.tab-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.tab-nav ul li {
  padding: 1rem;
  flex: 0 0 19%;
  border: 1px solid #f2f2f2;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.tab-nav ul li:hover {
  background-color: #da28b5;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.tab-link {
  background: #eef1f7;
}

.tab-content {
  display: none;
}

.active {
  background-color: #da28b5;
  color: #fff;
  font-weight: bold;
}

.show {
  display: block;
}

/* =================================================================== 
     * 9.1 ::  Add New Employees (Admin)
     * ===================================================================
     */

.employee-add-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.employee-add-image .user-icon {
  border: 5px solid #ddd;
  border-radius: 50%;
  height: 145px;
  width: 145px;
  text-align: center;
  display: flex;
}

.employee-add-image .user-icon i {
  font-size: 90px;
  margin: auto;
}

.employee-add-image a i {
  color: #2196f3;
  font-size: 24px;
  position: absolute;
  margin-left: -20px;
  margin-top: 30px;
}

.employee-add-image a i:hover {
  color: #b2226f;
}

.employee-file-record,
.general-info-box,
.personal-info-box,
.government-id-box,
.relative-info-box {
  padding: 30px 20px;
  border: 1px solid #eee;
}

.employee-status {
  margin: 10px 0;
}

form.radio {
  display: flex;
  align-items: center;
}

form.radio label {
  width: 100%;
  font-size: 16px;
}

.file-diploma-box,
.file-tor-box,
.file-resume-box {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.save-employee .save-btn,
.file-diploma-box button,
.file-tor-box button,
.file-resume-box button {
  margin-top: 0 !important;
  min-width: 150px;
  font-weight: bold;
}

.upload-btn,
.save-btn {
  font-size: 14px;
}

/* =================================================================== 
     * 9.2 ::  Edit / View Employees
     * ===================================================================
     */

.employee-add-image img {
  border: 5px solid #ddd;
  border-radius: 50%;
  height: 145px;
  width: 145px;
  text-align: center;
  display: flex;
  object-fit: cover;
}

.file-name {
  padding: 10px;
  font-weight: 600;
}

.word-break {
  word-wrap: break-word;
}

/* =================================================================== 
     * 10.0 ::  Admin Task Manager
     * ===================================================================
     */

.task-manager-search-box {
  padding: 15px;
}

.admin-task-button {
  margin-top: 22px;
}

.export-btn,
.sort-btn {
  font-weight: 700;
  width: 100%;
  font-size: 14px;
}

/* =================================================================== 
     * 11.0 ::  Admin Settings (Add Leave)
     * ===================================================================
     */

.add-settings {
  text-align: right;
}

.add-settings button {
  margin-top: 0 !important;
  font-weight: bold;
  font-size: 12px;
}

/* =================================================================== 
     * 12.0 ::  Admin User Settings / Employee User Settings
     * ===================================================================
     */

button.add-user-btn {
  font-size: 12px;
  font-weight: bold;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
}

button.add-user-btn i {
  font-size: 18px;
}

.list-of-users table ul li {
  list-style-type: none;
  margin: 5px;
  display: inline-block;
}

.user-setting-box {
  padding: 15px;
}

.user-add-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.user-add-image .user-icon {
  border: 5px solid #ddd;
  border-radius: 50%;
  height: 145px;
  width: 145px;
  text-align: center;
  display: flex;
}

.user-add-image .user-icon i {
  font-size: 90px;
  margin: auto;
}

.user-add-image a i {
  color: #2196f3;
  font-size: 24px;
  position: absolute;
  margin-left: -20px;
  margin-top: 30px;
}

.user-add-image a i:hover {
  color: #b2226f;
}

.save-settings {
  text-align: center;
}

.save-settings button {
  margin-top: 0 !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

/* =================================================================== 
     * 12.1 ::  Admin Add New User / Edit User / View User
     * ===================================================================
     */

.add-new-user-box {
  display: flex;
  justify-content: center;
}

.add-new-user-wrap {
  flex-basis: 450px;
}

.fill-up {
  padding: 10px 15px;
}

.fill-up ul {
  display: flex;
  justify-content: space-between;
}

.fill-up ul li {
  list-style-type: none;
}

.fill-up ul li input[type='checkbox'] {
  margin-right: 5px;
}

.fill-up p {
  margin-bottom: 0 !important;
}

.add-new-user-wrap .p-title {
  text-align: center;
  padding: 10px;
  background: #eef1f7;
  margin-top: 0 !important;
}

.save-settings button {
  width: 100%;
}

/* =================================================================== 
     * 13.0 :: Employee Dashboard
     * ===================================================================
     */

.employee-db-box ul {
  padding: 10px;
}

.employee-db-box ul li {
  list-style-type: none;
  font-weight: 600;
  padding: 5px 15px;
}

.employee-db-box ul li span {
  float: right;
}

.noti-badge li {
  display: inline-block;
}

.notification {
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 5px 13px;
  border-radius: 50%;
  background: #fa2828;
  color: #fff;
}
/* =================================================================== 
     * 14.0 :: Employee Leave Dashboard
     * ===================================================================
     */

.leave-counter button {
  display: inline-block;
}

.leave-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.leave-form-wrap {
  width: 100%;
}

.leave-form-box {
  padding: 15px;
}

.leave-select {
  margin-bottom: 20px;
  margin-top: 0 !important;
  width: 100%;
}

.leave-select select {
  width: 100%;
  min-width: 200px;
}

.leave-date-box {
  width: 100%;
}

.leave-supervisor input[type='text'],
.leave-reason input {
  width: 100%;
}

.leave-duration {
  width: 100%;
}

.leave-button {
  text-align: center;
}

.leave-form input[type='submit'] {
  font-weight: bold;
}

.leave-supervisor input[type='text'] {
  background: #eef1f7;
}

/* =================================================================== 
     * 15.0 :: Employee Task Manager
     * ===================================================================
     */

.task-form {
  width: 100%;
}

.task-form-box {
  padding: 5px 15px;
}

.task-select {
  margin-bottom: 20px;
  margin-top: 0 !important;
  width: 100%;
}

.task-select select {
  width: 100%;
  min-width: 200px;
}

.task-duration {
  display: flex;
}

.task-duration-box {
  width: 100%;
}

.task-duration-box:first-child {
  margin-right: 15px;
}

.task-description {
  width: 100%;
}

.task-button {
  text-align: center;
}

.task-form input[type='submit'] {
  font-weight: bold;
}

.task-counter {
  width: 100%;
}

.task-counter-icon ul li {
  list-style-type: none;
  display: inline-block;
}

.ongoing-task {
  border-radius: 0.5em;
}

p.task-title {
  font-weight: bold;
  font-size: 18px;
  margin: 15px;
  text-align: left !important;
}

p.task-title,
.task-counter-icon,
.task-counter-time {
  margin: 15px;
}

.task-counter-icon i {
  margin-bottom: 0 !important;
  font-size: 25px;
}

.task-counter-time p {
  margin-bottom: 0 !important;
  font-size: 30px;
}

button.play i {
  color: #008000 !important;
}

.task-stats {
  margin-top: 30px;
  overflow: auto;
}

/* =================================================================== 
     * 16.0 :: Employee OT
     * ===================================================================
     */

.ot-filter {
  display: flex;
}

.ot-filter button {
  margin-left: 10px;
  margin-top: 0;
}

.ot-add button {
  margin-top: 0;
}

/* ===================================================================
     * 0.0 :: Clearing
     * ===================================================================
     */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.inside:after,
li:after,
article:after {
  content: ' ';
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/* =================================================================== 
     * 17.0 :: Modal
     * ===================================================================
     */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 6;
}

/* .popup {
      margin: 70px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 30%;
      position: relative;
      transition: all 2s ease-in-out;
    } */

.popup {
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #b1b1b1;
  font-family: Tahoma, Arial, sans-serif;
  border-bottom: 1px solid #ddd;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #b2226f;
}
.popup .content {
  max-height: 30%;
  /* overflow: auto; */
  text-align: left;
}

.popup .content ul li {
  margin-bottom: 20px;
}

.confirm-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #ddd;
}

.confirm-success,
.confirm-no,
.confirm-yes {
  margin: 15px 5px 0 5px;
  width: 80px;
  font-size: 14px;
  padding: 5px 10px !important;
  font-weight: 700;
}

.confirm-no {
  background-color: #fff;
  border: 1px solid #b1b1b1;
  color: #000;
}

.confirm-no:hover {
  color: #fff;
}

.content li {
  font-weight: bold;
  padding: 40px;
}

#pop-process-add ul,
#pop-process-edit ul {
  text-align: left;
}

#pop-process-add ul li,
#pop-process-edit ul li {
  padding: 0 !important;
}

.delete-modal {
  width: 25%;
}

.delete-modal .list-text li {
  padding: 0;
}

.success-modal {
  width: 20% !important;
}

.success-modal ul li {
  font-size: 24px;
}

.success-modal ul li i {
  font-size: 50px;
  color: rgb(218, 40, 181);
}

.add-user-modal {
  width: 30%;
}

.form-modal {
  width: 30% !important;
}

/* test-modal */
.hidden {
  position: fixed;
  top: 10%;
  bottom: 0;

  right: 2%;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
}
.hidden:target {
  visibility: visible;
  opacity: 1;
  z-index: 6;
}

.side-modal {
  background: rgb(218, 40, 181);
  color: #fff;
  height: 50px;
  text-align: center;
  font-weight: bold;
}

.side-modal i {
  color: #fff;
  font-size: 30px;
}

.side-modal-btn {
  margin: 15px 5px 0 5px;
  width: 80px;
  font-size: 14px;
  padding: 5px 10px !important;
  font-weight: 700;
  color: #fff;
}

.side-modal-btn i {
  font-size: 16px;
}

.side-success {
  display: flex;
  text-align: center;
  justify-content: center;
}

.side-success div {
  margin: 10px;
}
/* ===================================================================
     * 0.0 :: Mobile CSS
     * ===================================================================
     */

@media screen and (max-width: 1200px) {
  .leave-filter {
    display: block;
  }

  .leave-filter button {
    width: 100%;
  }

  .filter-btn {
    float: none;
  }

  .left-content {
    padding: 10px !important;
  }
  .delete-modal {
    width: 30%;
  }

  .form-modal {
    width: 30% !important;
  }
}

@media screen and (max-width: 1350px) {
  .tab-link i {
    display: block;
  }

  .tab-nav ul li {
    width: 25%;
    display: inline-block;
  }
}

@media screen and (max-width: 1000px) {
  .tab-nav ul li span {
    display: none;
  }
  .tab-nav ul li i {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 970px) {
  .popup {
    width: 50% !important;
  }
  .right-section {
    display: none;
  }

  p.task-title,
  .task-counter-icon,
  .task-counter-time {
    margin: 15px;
    text-align: center !important;
  }

  .left-section {
    display: block;
  }

  .left-content {
    margin-top: 20px;
    overflow-y: auto;
  }
}

@media screen and (min-width: 640px) {
  header {
    z-index: 2;
  }
  header .logo {
    display: none;
  }
  .nav-trigger {
    display: none;
  }
  .nav-trigger span,
  .nav-trigger span:before,
  span:after {
    background-color: #fff;
  }
  .side-nav {
    display: block;
    width: 70px;
    z-index: 2;
  }
  .side-nav ul li span:nth-child(2) {
    display: none;
  }
  .side-nav .logo i {
    padding-left: 12px;
  }
  .side-nav .logo span {
    display: none;
  }
  .side-nav ul li i {
    font-size: 26px;
  }
  .side-nav ul li a {
    text-align: center;
  }
  .main-content {
    margin-left: 70px;
  }
}

@media screen and (max-width: 767px) {
  .desk-logo {
    display: none;
  }
  .noti-button {
    text-align: center;
  }
  .small-notif-notification {
    right: 0px !important;
    position: unset !important;
  }

  .small-notif-fa {
    display: block !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
  }

  .small-notif-content {
    display: block !important;
    text-align: center;
  }

  .status {
    display: block !important;
  }

  .small-notif-close {
    display: block !important;
    text-align: center !important;
    border-right: none !important;
    border-top: 1px solid #fff;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
  }
}

@media screen and (min-width: 768px) {
  .side-nav {
    width: 200px;
  }
  .side-nav ul li span:nth-child(2) {
    display: inline-block;
  }
  .side-nav ul li i {
    font-size: 16px;
  }
  .side-nav ul li a {
    text-align: left;
  }
  .side-nav .logo i {
    padding-left: 0;
  }
  .side-nav .logo span {
    display: inline-block;
  }
  .main-content {
    margin-left: 200px;
  }
  .mobile-logo {
    display: none;
  }
  .settings-popup {
    width: 25% !important;
  }
}

@media screen and (max-width: 640px) {
  header .user {
    color: #35475e !important;
  }

  .content-wrap {
    margin: 10px;
  }

  .content-wrap p,
  .content-wrap h3 {
    text-align: center;
  }

  .save-employee button,
  .file-diploma-box button,
  .file-tor-box button,
  .file-resume-box button {
    width: 100%;
  }

  .popup {
    width: 80% !important;
  }

  .sign-up-box {
    display: block;
    text-align: center;
  }

  .sign-up-box p {
    width: 100%;
  }

  button {
    width: 100% !important;
  }

  .leave-status ul {
    text-align: center;
  }
  .add-employee-btn {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .fbs-logo {
    margin-bottom: 0 !important;
  }

  .company-title {
    display: none;
  }
  .sub-title {
    font-size: 22px !important;
  }

  .left-section {
    float: none !important;
  }

  .welcome {
    display: none;
  }

  .notification-box {
    text-align: center;
  }
  .form-modal {
    overflow-y: scroll;
    margin: 10px auto;
  }

  .leave-form-box {
    overflow-y: scroll;
  }

  .notification-box {
    width: 100% !important;
  }

  .error-404-btn a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Modal */

.modal {
  /* display: none;  Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fff; /* Fallback color */
  /* z-index: 999; */
  /* background-color: rgba(255, 255, 255, 0.4); Black w/ opacity */
}

/* Spinner */

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  z-index: 9999;
}

.loader {
  border: 5px solid #fff;
  border-radius: 50%;
  border-top: 5px solid #6a103f;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
  margin: 0 auto;
}

.loader-container p {
  margin: 15px 0;
  color: rgb(110, 110, 110);
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Spinner */

/* Login Button Disabled - Outline // Vincent (Mar-19-2020) */

button:disabled {
  background-color: #eee;
  border: 1px solid #ddd;
}

button:disabled:hover {
  background-color: #eee;
}

/* End Login Button Disabled - Outline // Vincent (Mar-19-2020) */

/* Small notification - Vincent Ramirez - mar-27-2020 */

/* .status {
  display: inline-block;
} */

.small-notif-notification {
  /* visibility: hidden; */
  background-color: #eee;
  position: absolute;
  z-index: 1;
  right: 30px;
  /* height: 100%; */
}

.small-notif-show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

.small-notif-fa {
  padding: 10px 20px;
  /* border-right: 1px solid #fff; */
  display: inline-block;
  /* cursor: pointer; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  vertical-align: middle;
}

.fa-success {
  background-color: limegreen;
}

.fa-error {
  background-color: #ff3333;
}

.small-notif-close {
  padding: 10px 20px;
  border-left: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  /* background-color: limegreen; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* transition: 0.2s all ease-in; */
  vertical-align: middle;
}

.small-notif-close:hover {
  background-color: #bbb;
  color: #fff;
}

.small-notif-fa i {
  font-size: 22px;
  color: #fff;
  display: block;
  /* margin-bottom: 5px; */
}

.small-notif-close i {
  font-size: 22px;
  vertical-align: middle;
}

/* .small-notif-close i:hover {
  color: #fff;
} */

.small-notif-content {
  padding: 10px 20px;
  vertical-align: middle;
  /* height: auto; */
}

/* End Small notification - Vincent Ramirez - mar-27-2020 */
